body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;

}

.editmenu {
    margin: 20px;
    width: 200px;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    
}
.editmenu hr {
    margin: 0;
    padding: 0;
}
.editmenu input {
    display: block;
    padding: 5px;
    border: none;
    width: 100%;
    transition: .5s;
    background-color: inherit;
}

.editmenu input:hover {

    background-color: #eeeeee;
}